@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

#titleLabel,
#dateLabel {
    -fx-font-family: 'Open Sans', sans-serif;
    -fx-font-size: 15;
    -fx-text-fill: #151515;
}